<div class="slick-carousel">
    {{#each data as |item|}}
      <div class="slick-carousel__slide cover">
          <div class="layout layout--center">
              <div class="layout__item u-2/3 u-4/5-palm">
                  <div class="section">
                      <div class="ph">
                          <div class="slick-carousel__content">
                              {{#if item.headingPath}}
                                <div class="layout layout--center">
                                    <div class="layout__item u-2/3 u-1/1-palm">
                                        <img src="{{item.headingPath}}" class="u-1/1 pt+" />
                                    </div>
                                </div>
                              {{else}}
                                  <h1 class="mv0 text-center pt++ palm-pt">{{item.heading}}</h1>
                              {{/if}}


                              <p>
                                {{item.description}}
                              </p>
                              <div class="text-center pt">
                                  <a href="{{item.url}}" target="_blank" class="btn slick-carousel__btn u-1/1-palm">
                                      Open {{item.heading}}
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {{/each}}
    <div class="slick-carousel__arrow slick-carousel__prev icon-chevron-small-left"></div>
    <div class="slick-carousel__arrow slick-carousel__next icon-chevron-small-right"></div>
</div>
