<div class="main-menu {{if isMenuOpen 'main-menu--showing'}}">
    <ul class="list-bare mt" {{action 'closeMenu'}}>
        <li class="main-menu__item">
          {{#link-to 'index'}}Home{{/link-to}}
        </li>
        <li class="main-menu__item">
            {{#link-to 'experiments'}}Experiments{{/link-to}}
        </li>
    </ul>
</div>

<div class="page-top-nav p pv- fixed fixed--top">
    <i class="icon-menu link link--main" {{action 'toggleMenu' bubbles=false}}></i>
</div>

<div class="page pt {{if isMenuOpen 'page--menu-open'}}" {{action 'closeMenu'}}>
    <div class="page__content">
      {{outlet}}
    </div>
</div>