<div class="main-menu {{if isMenuOpen 'main-menu--showing'}}">
    <ul class="list-block list-block--small mt">
        <li class="main-menu__item">
            Case Studies
        </li>
        <li class="main-menu__item">
            Twitter
        </li>
        <li class="main-menu__item">
            Github
        </li>
        <li class="main-menu__item">
            Blog
        </li>
        <li class="main-menu__item">
            Contact
        </li>
    </ul>
</div>

<div class="page-top-nav p pv- fixed fixed--top">
    <i class="icon-menu link link--main" {{action 'toggleMenu' bubbles=false}}></i>
</div>

<div class="page {{if isMenuOpen 'page--menu-open'}}" {{action 'closeMenu'}}>
    <div class="page__content">
      {{outlet}}
    </div>
    <div class="page__footer cover cover--fixed cover--himalaya desaturate">
        <div class="height-1/1">

        </div>
    </div>
</div>