<div class="main-menu {{if isMenuOpen 'main-menu--showing'}}">
    <ul class="list-bare mt">
        <li class="main-menu__item">
            {{#link-to 'experiments'}}Experiments{{/link-to}}
        </li>
        <li class="main-menu__item">
            <a href="https://twitter.com/ryanirilli">
                Twitter
            </a>
        </li>
        <li class="main-menu__item">
            <a href="https://github.com/ryanirilli">
                Github
            </a>
        </li>
        <li class="main-menu__item">
            Blog
        </li>
        <li class="main-menu__item">
            Contact
        </li>
    </ul>
</div>

<div class="page-top-nav p pv- fixed fixed--top">
    <i class="icon-menu link link--main" {{action 'toggleMenu' bubbles=false}}></i>
</div>

<div class="page pt {{if isMenuOpen 'page--menu-open'}}" {{action 'closeMenu'}}>
    <div class="page__content">
      {{outlet}}
    </div>
    <div class="page__footer cover cover--forest cover--fixed">
      <div class="pv++"></div>
      <div class="pv++"></div>
      <div class="pv++"></div>
    </div>
</div>